/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

/* * {
    border: 3px solid yellowgreen;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-image: url(./assets/burger-friends.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top-bar-container {
    background-color: #0fb9b1;
    height: 50px;
    display: flex;
    padding: 10px 28px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

h1 {
    font-size: 25px;
    padding-left: 15px;
}

.add-a-recipe-button {
    border-radius: 10px;
    padding: 10px 24px;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 78px;
}

.left-container {
    background-color: rgba(225, 225, 225, .9);
    width: 400px;
    height: 300px;
    padding:35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start ;

}

.left-header {
    margin-top: 65px;
    font-size: 30px;
    display: flex;
}

.asterisk {
    color: #ee5253;
    font-size: 20px;
}

.radio-buttons-container{
    display: flex;
    
}

#lets-cook-button {
    background-color: #0fb9b1;
    border-color:  #0fb9b1;
    border-radius: 10px;
    height: 45px;
    width: 245px;
    font-size: medium;
    margin-top: 20px;
}

.right-container {
    background-color: rgba(225, 225, 225, .9);
    width: 400px;
    height: 300px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none 
}

.cook-pot {
    width: 150px;
    height: 150px;
    padding: 80px;
}

.you-should-make {
    font-size: 20px;
    font-style: italic;
}

.returned-food {
    font-size: 35px;
    font-weight: bold;
}

.clear-button {
    display: flex;
    background-color: #95a5a6;
    color: white;
    height: 50px;
    width: 123px;
    border-radius: 8px;
    font-size: medium;
    margin-top: 45px;
    margin-left: 275px;
    border-radius: 5px;
}
